@model MovieCollection.Web.Viewmodels.MovieIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        @using (Html.BeginForm())
        {
            <div class="form-group row vertical-center">
                @Html.TextBoxFor(model => model.searchModel.Title, new { @class = "form-control input-lg", @placeholder = "Movie Name...", @id = "searchTitleId" })
                @Html.ValidationMessageFor(model => model.searchModel.Title)   
            </div>
            @*<div>
                <input type="button" value="Search" class="btn btn-secondary center-block" />
            </div>*@
        }
    </div>    
</div>

<div class="row">
    @if (Model.movieModels != null)
    {
        foreach (var item in Model.movieModels)
        {
            <ul class="list-unstyled">
                <li class="col-md-4">@item.Title</li>
                <li class="col-md-4">@item.ReleaseDate</li>
                <li class="col-md-4">
                    @if (item.ImageUrl != "http://image.tmdb.org/t/p/w185/")
                    {
                        <img src="@item.ImageUrl" />
                    }
                    else
                    {
                        <img src="~/Images/No-Image.png" />
                    }
                </li>
            </ul>
        }
    }
</div>