@model MovieCollection.Web.Viewmodels.MovieIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {

            <div class="form-group">
                @Html.LabelFor(model => model.searchModel.Title, new { @for = "searchTitleId" })
                @Html.TextBoxFor(model => model.searchModel.Title, new { @class = "form-control input-lg", @placeholder = "Title", @id = "searchTitleId" })
                @Html.ValidationMessageFor(model => model.searchModel.Title)
            </div>
            <input type="button" value="Submit" class="btn btn-primary" />
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            @if (Model.movieModels != null)
            {
                foreach (var item in Model.movieModels)
                {
                    <div class="col-md-4">
                        <li>@item.Title</li>
                        <li>@item.ReleaseDate</li>
                        <li>
                            @if (item.ImageUrl != "http://image.tmdb.org/t/p/w185/")
                            {
                                <img src="@item.ImageUrl" />
                            }
                            else
                            {
                                <img src="~/Images/No-Image.png" />
                            }

                        </li>
                    </div>
                }
            }
         </ul>
    </div>
</div>