@model MovieCollection.Web.Viewmodels.MovieIndexViewmodel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<p>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.searchModel.Title, new { @class = "" })
        <br />
        @Html.TextBoxFor(model => model.searchModel.Title, new { @class = "" })
        <br />
        <br />
        <input type="button" value="Submit" class="btn btn-primary"/>
    }
</p>

<ul>
    @if (Model.movieModels != null)
    {
        foreach (var item in Model.movieModels)
        {
            <li>@item.Id</li>
            <li>@item.Title</li>
            <li>@item.ReleaseDate</li>
            <li>@item.ImageUrl</li>
        }
    }
</ul>