@model MovieCollection.Web.Viewmodels.MovieIndexViewmodel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.searchModel.Title)
}

<ul>
    @if (Model.movieModels != null)
    {
        foreach (var item in Model.movieModels)
        {
            <li>@item.Id</li>
            <li>@item.Title</li>
            <li>@item.ReleaseDate</li>
            <li>@item.ImageUrl</li>
        }
    }
</ul>